@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*Variabel*/
:root {
    --font: 'Red Hat Display', sans-serif;
    /*Primary*/
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    /*Neutral*/
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    align-items: center;
    justify-content: center;
    background: url(/images/pattern-background-desktop.svg) no-repeat;
    background-color: var(--Pale-blue);
}

.container {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.card {
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    display: block;
    background-color: white;
}

.img {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.img img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.odr-smr {
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
}

.odr-smr h1{
    font-weight: 900;
}

.odr-smr p{
    font-weight: 700;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    height: 50px;
    color: var(--Desaturated-blue);
    justify-content: center;
}

.box-price {
    background-color: var(--Very-pale-blue);
    margin: 20px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    height: 100px;
}

.img-music {
    width: 35%;
    margin-left: 3%;
}

.nusik-anual {
    align-items: center;
    display: flex;
}

.plan {
    width: 100%;

}

.plan h3{
    display: block;
    text-align: left;
    padding-left: 5%;
}

.plan p{
    display: block;
    text-align: left;
    padding-left: 5%;
}

.change {
    color: vab(--Bright-blue);
    font-size: 500;
    width: 35%;
    margin-right: 5%;
}

.payment {
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.pay {

}

.pay button{
    font-weight: 900;
    color: white;
    width: 80%;
    height: 35px;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    background-color: var(--Bright-blue);
    border-radius: 10px;
    margin-bottom: 8%;
    font-size: 16px;
}

.cancel-order button{
    font-weight: 900;
    width: 80%;
    height: 35px;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    background-color: white;
    margin-bottom: 8%;
    color: var(--Desaturated-blue);
    font-size: 16px;
}